@page "/hedgerelationship"

@inject ILocalStorageService LocalStorage
@inject IAlertService AlertService
@inject IMediator Mediator
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

@if (Id.HasValue)
{
    <HedgeRelationshipDetails HedgeId="@Id.Value" />
}
else
{
    <PageTitle>Hedge Relationships</PageTitle>

    <div class="flex grid">
        <nav class="flex items-center pb-4" aria-label="Breadcrumb">
            <ol class="flex items-center space-x-2">
                <li class="flex items-center">
                    <a href="/" class="text-brand flex items-center">
                        <i class="fa fa-home"></i>
                        <i class="fa fa-chevron-right text-sm pl-2"></i>
                    </a>
                </li>
                <li class="text-default font-semibold">
                    Hedge Relationships
                </li>
            </ol>
        </nav>

        <div class="overflow-auto">
            <div class="flex justify-between items-center gap-4">
                <ClientFilterBar Clients="AvailableClients"
                                 IsLoading="IsLoadingClients"
                                 SelectedClientId="@SelectedClientId"
                                 CurveDate="@CurveDate"
                                 SelectedClientIdChanged="OnClientChanged"
                                 CurveDateChanged="OnCurveDateChanged"
                                 OnClientCreated="ClientComboboxCreated" />

                <div class="flex justify-end items-center text-right space-x-4 dp-buttons">
                    <SfButton CssClass="button-secondary button-default" Content="New Relationship" OnClick="@HandleNewRelationshipClick"></SfButton>
                    <DpActionMenu Items="actionItems" OnItemSelected="OnActionItemSelected" />
                </div>
            </div>

            <div style="height: calc(100vh - 20.75rem)">
                <HedgeRelationshipGrid @ref="_gridWrapper"
                                       Data="_filteredHedgeRelationship"
                                       GridViewItems="_gridViewItems"
                                       IsLoading="_isLoadingHedgeRelationships"
                                       ViewCrudEvent="ViewCrudHandler"
                                       OnRowClicked="OnRowClickedHandler"
                                       OnDeleteRequested="HandleDeleteItemClick" />
            </div>
        </div>
    </div>

    <HedgeRelationshipCreate @ref="_newRelationshipModal" />

    <DpConfirmationModal Visible="@ShowRegressionModal"
                         VisibleChanged="@((bool v) => ShowRegressionModal = v)"
                         Title="HA Regression"
                         Message="@GetRegressionMessage()"
                         ConfirmText="Close"
                         ShowCancelButton="false"
                         ShowCloseIcon="false"
                         OnConfirmed="() => HandleCancel(new CancelContext(CancelContextFlag, IsRequestByClient))" />

    <DpConfirmationModal Visible="@IsDeleteModalVisible"
                         VisibleChanged="@((bool v) => IsDeleteModalVisible = v)"
                         Title="Delete Hedge Relationship"
                         Message="@DeleteMessage"
                         ConfirmText="OK"
                         CancelText="Cancel"
                         OnConfirmed="ConfirmDelete" />

}