@inherits FormMessageComponentBase

@inject IMediator Mediator
@inject IJSRuntime IJSRuntime
@inject IAlertService AlertService
@inject NavigationManager NavManager

<DpFullscreenModal ShowModal="IsVisible" HeaderText="New Hedge Relationship">
    <Content>
        <EditForm Model="@HedgeRelationship" OnValidSubmit="RequestNewHedgeRelationship" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator />
            <button type="submit" style="display:none" id="hiddenSubmit"></button>
            <div class="custom-form-container">
                <div style="width: 100%;">
                    <SfMessage Severity="MessageSeverityType" Visible="IsMessageVisible">
                        <h1>@MessageTitle</h1>
                        <p>@MessageBody</p>
                    </SfMessage>
                </div>
                <div class="flex mt-2.5 gap-3 w-full justify-center flex-wrap">
                    <div class="rounded border border-gray-300 bg-white shadow-lg">
                        <div class="flex py-3 px-4 items-center gap-2 border-b border-gray-300 w-full">
                            RELATIONSHIP INFORMATION
                        </div>
                        <div class="flex p-5 flex-col items-start gap-3">
                            <div class="">
                                <div class="form-group dp-inputs">
                                    <span class="input-label">Client</span>
                                    <SfDropDownList TValue="long" TItem="Client"
                                        CssClass="dropdown-input"
                                        DataSource="@AvailableClients"
                                        Enabled="@(!IsLoadingClients)"
                                        Placeholder="@(IsLoadingClients ? "Loading..." : "Select Client")"
                                        @bind-Value="HedgeRelationship.ClientID">
                                        <DropDownListEvents TValue="long" TItem="Client" ValueChange="@HandleClientValueChangeAsync"></DropDownListEvents>
                                        <DropDownListFieldSettings Value="ClientId" Text="ClientName" />
                                    </SfDropDownList>
                                    <ValidationMessage For="@(() => HedgeRelationship.ClientID)" />
                                </div>
                                <div class="form-group dp-inputs">
                                    <span class="input-label">Entity</span>
                                    <SfDropDownList TValue="long" TItem="Entity"
                                        CssClass="dropdown-input"
                                        DataSource="@AvailableEntities"
                                        Enabled="@(!IsLoadingEntities && AvailableEntities?.Any() == true)"
                                        Placeholder="@(IsLoadingEntities ? "Loading..." : "Select a client first")"
                                        @bind-Value="HedgeRelationship.BankEntityID">
                                        <DropDownListFieldSettings Value="@nameof(Entity.EntityId)" Text="@nameof(Entity.EntityLongName)" />
                                    </SfDropDownList>
                                    <ValidationMessage For="@(() => HedgeRelationship.BankEntityID)" />
                                </div>
                                <div class="form-group ">
                                    <div class="dp-inputs">
                                        <span class="input-label">Description</span>
                                        <SfTextBox CssClass="input-textbox" Placeholder="Description" @bind-Value="HedgeRelationship.Description" />
                                    </div>
                                </div>
                                <div class="form-group dp-inputs">
                                    <span class="input-label">Hedged Risk *</span>
                                    <SfComboBox TValue="DerivativeEDGEHAEntityEnumHedgeRiskType"
                                        CssClass="dropdown-input"
                                        Enabled="true"
                                        TItem="DropdownModel"
                                        @bind-Value="HedgeRelationship.HedgeRiskType"
                                        Placeholder="Hedged Risk"
                                        DataSource="@GetDropdownDatasource("hedgerisktype")">
                                            <ComboBoxEvents TValue="DerivativeEDGEHAEntityEnumHedgeRiskType" TItem="DropdownModel" />
                                            <ComboBoxFieldSettings Value="Value" Text="Text" />
                                    </SfComboBox>
                                    <ValidationMessage For="@(() => HedgeRelationship.HedgeRiskType)" />
                                </div>
                                <div class="form-group dp-inputs">
                                    <span class="input-label">Hedge Type *</span>
                                    <SfComboBox TValue="DerivativeEDGEHAEntityEnumHRHedgeType" CssClass="dropdown-input" Enabled="true" TItem="DropdownModel" @bind-Value="HedgeRelationship.HedgeType" Placeholder="Hedge Type" DataSource="@GetDropdownDatasource("hedgetype")">
                                        <ComboBoxEvents TValue="DerivativeEDGEHAEntityEnumHRHedgeType" TItem="DropdownModel" />
                                        <ComboBoxFieldSettings Value="Value" Text="Text" />
                                    </SfComboBox>
                                    <ValidationMessage For="@(() => HedgeRelationship.HedgeType)" />
                                </div>
                                <div class="form-group dp-inputs">
                                    <label class="input-label">Designation Date</label>
                                    <SfDatePicker TValue="DateTime?"
                                            @bind-Value="@DesignationDate"
                                            CssClass="calendar-datepicker"
                                            Enabled="true"
                                            Format="@ComponentLibraryConstants.DateFormat"
                                            Placeholder="@ComponentLibraryConstants.DateFormat.ToLowerInvariant()"
                                            ShowClearButton="true"
                                            Max="@DateTime.Today"
                                            InputFormats="ComponentLibraryConstants.DateInputFormats">
                                        <DatePickerEvents TValue="DateTime?" />
                                    </SfDatePicker>
                                    <ValidationMessage For="@(() => DesignationDate)" />
                                </div>
                                <div class="form-group dp-inputs">
                                    <label class="input-label">Dedesignation Date</label>
                                    <SfDatePicker TValue="DateTime?"
                                            @bind-Value="@DedesignationDate"
                                            CssClass="calendar-datepicker"
                                            Enabled="true"
                                            Format="@ComponentLibraryConstants.DateFormat"
                                            Placeholder="@ComponentLibraryConstants.DateFormat.ToLowerInvariant()"
                                            ShowClearButton="true"
                                            InputFormats="ComponentLibraryConstants.DateInputFormats">
                                        <DatePickerEvents TValue="DateTime?" />
                                    </SfDatePicker>
                                </div
                                <div class="form-group dp-inputs">
                                    <span class="input-label">Hedged Item Type</span>
                                    <SfComboBox TValue="DerivativeEDGEHAEntityEnumHedgedItemType" CssClass="dropdown-input" Enabled="true" TItem="DropdownModel" @bind-Value="HedgeRelationship.HedgedItemType" Placeholder="Hedge Item Type" DataSource="@GetDropdownDatasource("hedgeditemtype")">
                                        <ComboBoxEvents TValue="DerivativeEDGEHAEntityEnumHedgedItemType" TItem="DropdownModel" />
                                        <ComboBoxFieldSettings Value="Value" Text="Text" />
                                    </SfComboBox>
                                </div>
                                <div class="form-group dp-inputs">
                                    <span class="input-label">Hedged Item</span>
                                    <SfComboBox TValue="DerivativeEDGEHAEntityEnumAssetLiability" CssClass="dropdown-input" Enabled="true" TItem="DropdownModel" @bind-Value="HedgeRelationship.AssetLiability" Placeholder="Hedge Item" DataSource="@GetDropdownDatasource("assetliability")">
                                        <ComboBoxEvents TValue="DerivativeEDGEHAEntityEnumAssetLiability" TItem="DropdownModel" />
                                        <ComboBoxFieldSettings Value="Value" Text="Text" />
                                    </SfComboBox>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rounded border border-gray-300 bg-white shadow-lg">
                        <div class="flex py-3 px-4 items-center gap-2 border-b border-gray-300 w-full">
                            ACCOUNTING
                        </div>
                        <div class="flex p-5 flex-col items-start gap-3">
                            <div class="">
                                <div class="form-group dp-inputs">
                                    <span class="input-label">Standard</span>
                                    <SfComboBox TValue="DerivativeEDGEHAEntityEnumStandard" CssClass="dropdown-input" Enabled="true" TItem="DropdownModel" @bind-Value="HedgeRelationship.Standard" Placeholder="ASC815" DataSource="@GetDropdownDatasource("standard")">
                                        <ComboBoxEvents TValue="DerivativeEDGEHAEntityEnumStandard" TItem="DropdownModel" />
                                        <ComboBoxFieldSettings Value="Value" Text="Text" />
                                    </SfComboBox>
                                </div>
                                <div class="space-x-4 dp-inputs">
                                    <SfCheckBox CssClass="input-checkbox" @bind-Checked="HedgeRelationship.TaxPurposes" Label="Hedge for Tax Purposes" />
                                </div>
                                <div class="space-x-4 dp-inputs">
                                    <SfCheckBox CssClass="input-checkbox" @bind-Checked="HedgeRelationship.IsAnOptionHedge" Label="Hedge is an Option" />
                                </div>
                                <div class="form-group dp-inputs">
                                    <span class="input-label">Hedging Instrument Structure</span>
                                    <SfComboBox TValue="DerivativeEDGEHAEntityEnumHedgingInstrumentStructure" CssClass="dropdown-input" Enabled="true" TItem="DropdownModel" @bind-Value="HedgeRelationship.HedgingInstrumentStructure" Placeholder="Hedging Instrument Structure" DataSource="@GetDropdownDatasource("hedginginstrumentstructure")">
                                        <ComboBoxEvents TValue="DerivativeEDGEHAEntityEnumHedgingInstrumentStructure" TItem="DropdownModel" />
                                        <ComboBoxFieldSettings Value="Value" Text="Text"  />
                                    </SfComboBox>
                                </div>
                                @if (HedgeRelationship.IsAnOptionHedge)
                                {
                                    <div class="space-x-4 dp-inputs">
                                        <SfCheckBox CssClass="input-checkbox" @bind-Checked="HedgeRelationship.IsDeltaMatchOption" Label="Delta Match Option" />
                                    </div>
                                    <div class="space-x-4 dp-inputs">
                                        <SfCheckBox CssClass="input-checkbox" @bind-Checked="HedgeRelationship.AmortizeOptionPremimum" Label="Amortize Option Premium" />
                                    </div>
                                    <div class="form-group dp-inputs">
                                        <span class="input-label">Amortization Method</span>
                                        <SfComboBox TValue="DerivativeEDGEHAEntityEnumAmortizationMethod" CssClass="dropdown-input" Enabled="true" TItem="DropdownModel" @bind-Value="HedgeRelationship.AmortizationMethod" Placeholder="Amortization Method" DataSource="@GetDropdownDatasource("amortizationmethod")">
                                            <ComboBoxEvents TValue="DerivativeEDGEHAEntityEnumAmortizationMethod" TItem="DropdownModel" />
                                            <ComboBoxFieldSettings Value="Value" Text="Text" />
                                        </SfComboBox>
                                    </div>
                                    <div class="form-group">
                                        <div class="dp-inputs">
                                            <span class="input-label">Option Premium</span>
                                            <SfNumericTextBox CssClass="input-textbox text-right" ShowSpinButton="false"Placeholder="Option Premium" @bind-Value="HedgeRelationship.OptionPremium" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </Content>
    <FooterContent>
        <div class="dp-buttons">
            <SfButton CssClass="button-link button-default" OnClick="OnClickCancelHandler" Content="Cancel"></SfButton>
            <SfButton CssClass="button-primary button-default" Disabled="@(IsLoadingClients)" OnClick="@OnTriggerSubmitFromHeader" Content="Continue"></SfButton>
        </div>
    </FooterContent>
</DpFullscreenModal>
