@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons

<SfDialog Width="@Width"
          Height="@Height"
          CssClass="dp-dialog"
          IsModal="true"
          AllowDragging="false"
          EnableResize="false"
          ShowCloseIcon="false"
          @bind-Visible="Visible">
    <DialogTemplates>
        <Header>
            <div class="custom-dialog-header">
                <div class="header-text">
                    <span class="header-title">@Title</span>
                </div>
                @if (ShowCloseIcon) {
                    <i class="header-icon fa-solid fa-xmark" @onclick="HandleCancel"></i>
                }
            </div>
        </Header>
        <Content>
            <span>@Message</span>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        @if (ShowCancelButton)
        {
            <DialogButton CssClass="button-link button-default"
                          Content="@CancelText"
                          IsPrimary="false"
                          OnClick="@HandleCancel" />
        }
        <DialogButton CssClass="button-primary button-default"
                      Content="@ConfirmText"
                      IsPrimary="true"
                      OnClick="@HandleConfirm" />
    </DialogButtons>
    <DialogPositionData X="center" Y="center" />
</SfDialog>

@code {

}
