<SfDialog Width="33rem" 
          Height="auto" 
          CssClass="dp-dialog" 
          IsModal="true" 
          AllowDragging="true" 
          EnableResize="false"
          @bind-Visible="Visible">
    <DialogTemplates>
        <Header>Re-Designation Workflow</Header>
        <Content>
            <div class="form-group dp-inputs">
                <span class="input-label">Redesignation Date <span style="color: #dc2626;">*</span></span>
                <SfDatePicker TValue="DateTime?"
                              CssClass="calendar-datepicker" 
                              Enabled="true" 
                              Format="@ComponentLibraryConstants.DateFormat"
                              Placeholder="@ComponentLibraryConstants.DateFormat.ToLowerInvariant()"
                              ShowClearButton="true"
                              @bind-Value="RedesignationDate"
                              InputFormats="ComponentLibraryConstants.DateInputFormats">
                </SfDatePicker>
            </div>

            <div class="custom-datepicker-container">
                <div class="dp-inputs">
                    <label class="input-label">Time Values Start Date <span style="color: #dc2626;">*</span></label>
                    <SfDatePicker TValue="DateTime?"
                                  CssClass="calendar-datepicker" 
                                  Enabled="true" 
                                  Format="@ComponentLibraryConstants.DateFormat"
                                  Placeholder="@ComponentLibraryConstants.DateFormat.ToLowerInvariant()"
                                  ShowClearButton="true"
                                  @bind-Value="TimeValuesStartDate"
                                  InputFormats="ComponentLibraryConstants.DateInputFormats">
                    </SfDatePicker>
                </div>
                <div class="dp-inputs">
                    <label class="input-label">Time Values End Date <span style="color: #dc2626;">*</span></label>
                    <SfDatePicker TValue="DateTime?"
                                  CssClass="calendar-datepicker" 
                                  Enabled="true"
                                  Format="@ComponentLibraryConstants.DateFormat"
                                  Placeholder="@ComponentLibraryConstants.DateFormat.ToLowerInvariant()"
                                  ShowClearButton="true"
                                  @bind-Value="TimeValuesEndDate"
                                  InputFormats="ComponentLibraryConstants.DateInputFormats">
                    </SfDatePicker>
                </div>
            </div>

            <div class="form-group dp-inputs">
                <span class="input-label">Payment <span style="color: #dc2626;">*</span></span>
                <SfNumericTextBox TValue="decimal?"
                                  CssClass="input-numeric text-right" 
                                  ShowSpinButton="false"
                                  Placeholder="0.00" 
                                  Enabled="true"
                                  Format="C2"
                                  @bind-Value="Payment" />
            </div>

            <div class="form-group dp-inputs">
                <span class="input-label">Payment Frequency <span style="color: #dc2626;">*</span></span>
                <SfDropDownList TValue="string"
                                CssClass="dropdown-input"
                                Enabled="true"
                                TItem="PaymentFrequencyOption"
                                Placeholder="Select Payment Frequency"
                                @bind-Value="PaymentFrequency"
                                DataSource="@AvailablePaymentFrequencies">
                    <DropDownListFieldSettings Text="Text" Value="Value" />
                </SfDropDownList>
            </div>

            <div class="form-group dp-inputs">
                <span class="input-label">Day Count Convention <span style="color: #dc2626;">*</span></span>
                <SfDropDownList TValue="string"
                                CssClass="dropdown-input"
                                Enabled="true"
                                TItem="DayCountConvOption"
                                Placeholder="Select Day Count Convention"
                                @bind-Value="DayCountConv"
                                DataSource="@AvailableDayCountConventions">
                    <DropDownListFieldSettings Text="Text" Value="Value" />
                </SfDropDownList>
            </div>

            <div class="form-group dp-inputs">
                <span class="input-label">Payment Business Day Convention <span style="color: #dc2626;">*</span></span>
                <SfDropDownList TValue="string"
                                CssClass="dropdown-input"
                                Enabled="true"
                                TItem="PayBusDayConvOption"
                                Placeholder="Select Business Day Convention"
                                @bind-Value="PayBusDayConv"
                                DataSource="@AvailablePayBusDayConventions">
                    <DropDownListFieldSettings Text="Text" Value="Value" />
                </SfDropDownList>
            </div>

            <div class="custom-checkbox-container">
                <div class="dp-inputs">
                    <SfCheckBox CssClass="input-checkbox" @bind-Checked="AdjustedDates" Label="Adjusted Dates" />
                </div>
                <div class="dp-inputs">
                    <SfCheckBox CssClass="input-checkbox" @bind-Checked="MarkAsAcquisition" Label="Mark as Acquisition" />
                </div>
            </div>

            @if (!string.IsNullOrEmpty(ValidationMessage))
            {
                <div style="margin-top: 1rem;">
                    <SfMessage Severity="MessageSeverity.Warning">
                        @ValidationMessage
                    </SfMessage>
                </div>
            }
        </Content>
        <FooterTemplate>
            <div class="flex flex-row justify-end pt-[25px]">
                <div class="dp-buttons">
                    <SfButton CssClass="button-secondary button-default" Content="Cancel" Type="button" OnClick="@HandleClose" IsPrimary="false" />
                    <SfButton CssClass="button-primary button-default" Content="Re-Designate" IsPrimary="true" Disabled="@(!IsValid)" OnClick="@HandleReDesignate" />
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center" />
</SfDialog>
